<footer class="py-4 bg-light mt-auto">    
    <div class="container-fluid px-4">
        <div class="footer-body small">
            <div class="text-muted me-3">Copyright &copy; Body &amp; Mind 2023</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>