<div id="modal-delete" class="modal-delete">
    <div class="modal-content-delete">
        <div class="modal-body-delete">
            <p class="question">
                <span class="question1"></span> <br>
                <span class="question2 fw-bold"></span>
                ?
            </p>
        </div>
        <div class="modal-footer-delete">
            <a class="btn btn-primary" href="">VALIDER</a>
            <button id="btn-delete-cancel" class="btn btn-danger btn-delete-cancel">ANNULER</button>
        </div>
    </div>
</div>