<div id="modal-switch" class="modal-switch">
    <div class="modal-content-switch">
        <div class="modal-body-switch">
            <p class="question">
                <span class="question1"></span> <br>
                <span class="question2 fw-bold"></span>
                 ?
            </p>
            <p class="para1"></p>
        </div>
        <div class="modal-footer-switch">
            <button id="btn-switch" class="btn btn-primary btn-switch ">VALIDER</button>
            <button id="btn-switch-cancel" class="btn btn-danger btn-close-switch btn-switch-cancel">ANNULER</button>
        </div>
    </div>
</div>
