{% extends 'base.html.twig' %}

{% block title %}Les structures{% endblock %}

{% block PageTitle %}<h1 class="my-3">Les structures</h1>{% endblock %}

{% block body %}
    <div>

        <form id="filters" class="mb-3">
            <select class="form-select select-filters" aria-label="Default select example">
                <option value="all" selected>tout</option>
                <option value="activated">activés</option>
                <option value="disabled">désactivés</option>
            </select>
            <input type="text" class="form-control js-query d-inline-block" placeholder="Filtrer par nom">
            <input type="hidden" name="page" value="{{ page }}">
        </form>

        <a class="btn btn-success mb-3 mx-3 add-user" href="{{ path('app_register_structure') }}">Ajouter une
            structure</a>


        <div id="content" class="row justify-content-center content">
            {% include "structure/_content.html.twig" %}
        </div>

    </div>

    {% include "_partials/_modal_switch.html.twig" %}
    {% include "_partials/_modal_delete.html.twig" %}

{% endblock %}