{% extends 'security/login.html.twig' %}


{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block PageTitle %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    {{ form_start(passForm) }}
    {{ form_row(passForm.password) }}
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(passForm) }}

{% endblock %}