{% extends 'base.html.twig' %}

{% block title %}Enregistrement d'un partenaire{% endblock %}

{% block PageTitle %}<h1 class="my-3">Enregistrement d'un partenaire</h1>{% endblock %}

{% block body %}
        {% include "register_partner/_content.html.twig" %}
{% endblock %}
