{% extends 'base.html.twig' %}

{% block flash %}
{% include "_partials/_flash.html.twig" %}
{% endblock %}

{% block title %}{{ partner.name }}{% endblock %}

{% block PageTitle %}<h1 class="my-3">{{ partner.name }}</h1>{% endblock %}

{% block body %}
{% if not app.user.isActivated %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class="alert-message">
        <strong>Votre compte est actuellement désactivé.</strong>
    </div>
</div>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
<a class="btn btn-success add-user mx-3 mb-2" href="{{ path('partners_add_structure', {slug : partner.slug}) }}">Ajouter
    une
    structure</a>
{% endif %}

{% if (app.user.isVerified and app.user.isActivated) or is_granted('ROLE_ADMIN') %}

<div id="cards" class="row justify-content-center content">
    {% include "partner/_cards.html.twig" %}
</div>
{% include "_partials/_modal_switch.html.twig" %}
{% include "_partials/_modal_delete.html.twig" %}

<hr class="mt-2 mb-4">

<div id="modules" class="card-module pb-2 modules">

    {% include "partner/_modules.html.twig" %}

</div>

{% endif %}

{% include "_partials/_modal_module.html.twig" %}

{% endblock %}