{% extends 'base.html.twig' %}

{% block title %}Les partenaires{% endblock %}
{% block flash %}{% include "_partials/_flash.html.twig" %}{% endblock %}

{% block PageTitle %}<h1 class="my-3">Les partenaires</h1>{% endblock %}

{% block body %}
<div>

    <form id="filters" class="mb-2">
        <select class="form-select select-filters filters" aria-label="Default select example">
            <option value="all" selected>tout</option>
            <option value="activated">activés</option>
            <option value="disabled">désactivés</option>
        </select>
        <input type="text" class="form-control js-query" placeholder="Filtrer par nom">
        <input type="hidden" name="page" value="{{ page }}">
        <div class="mb-3 d-flex justify-content-center limit">
            <span class="me-3">
                Nombre de franchisés par page :
            </span>
            <input type="number" name="number" id="limit" class="filters form-control" value="{{ limit }}" min="1" max="12">
        </div>
    </form>

    <a class="btn btn-success mb-3 mx-3 add-user" href="{{ path('app_register_partner') }}">Ajouter un
        partenaire</a>

    <div id="content" class="row justify-content-center content">
        {% include "partner/_content.html.twig" %}
    </div>

</div>

{% include "_partials/_modal_switch.html.twig" %}
{% include "_partials/_modal_delete.html.twig" %}

{% endblock %}