
{% extends "base.html.twig" %}

{% block title %}Page erreur{% endblock %}

{% block PageTitle %}{% endblock %}

{% block body %}
<h1>La page que vous demandez est introuvable</h1>
{% endblock %}