.body-home {

  margin: 16px;
  margin-top: 90px;
  height: 60vh;
}

.logo {
  margin: auto;
}


.js-filter {
  text-transform: uppercase;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
