.card-login {
  margin: 16px;
  padding: 16px;
  box-shadow: 0 0 10px 1px grey;
  border-radius: 6px;
  min-width: 300px;
}

#login {
  margin-top: 100px;
}

@media screen and (min-width: 578px) {
  .card-login {
    width: 500px;
  }

}
