.select-filters {
    width: 150px;
    margin: 0 auto;
    text-transform: uppercase;
    color : grey;    
    font-weight: bold;
}

.alert {
    position: absolute;
    top: 0; 
    width: 100%;
}

.alert-60 {
    top : 56px;
}

.limit span {
    line-height: 38px;
}

#limit {
    width: 60px;
}

h1 img {
    width: 25px;
    padding-bottom: 5px;
}

.activate-module {
    cursor: pointer;
}