.select-filters {
    width: 150px;
    margin: 0 auto;
    text-transform: uppercase;
    color : grey;    
    font-weight: bold;
}

.alert {
    position: absolute;
    top: 0; 
    width: 100%;
}

.limit span {
    line-height: 38px;
}

#limit {
    width: 60px;
}

*{
    // border: 1px solid;
}