.select-filters {
    width: 150px;
    margin: 0 auto;
    text-transform: uppercase;
    color : grey;    
    font-weight: bold;
}

.page-item {
    z-index: -1;
}

.alert {
    position: absolute;
    top: 0; 
}