.nav-dead-link {
  display: block;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-dead-link:hover {
  color: white;
}