<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {#
    <meta http-equiv="refresh" content="1" /> #}
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>
        {% block title %}Accueil{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
{% include "_partials/_nav.html.twig" %}

<div id="layoutSidenav">
    {% include "_partials/_main.html.twig" %}
    <div id="layoutSidenav_content">
        {% if app.user and app.user.isVerified == false and not is_granted('ROLE_ADMIN') %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    <strong>Vous devez activer votre compte pour accéder à vos informations</strong>, <a
                            href="{{ path('resend_verif') }}">renvoyer le lien d'activation</a>
                </div>
            </div>
        {% endif %}
        {% block flash %}{% include "_partials/_flash.html.twig" %}{% endblock %}
        {# {% include "_partials/_flash.html.twig" %} #}
        <main>
            {# <div id="flash"></div> #}
            <div class="container-user m-3">

                {% block PageTitle %}
                {% endblock %}
                <div class="card-main mb-4">
                    <div class="card-body">
                        {% block body %}
                            Template body
                        {% endblock %}
                        {% include "_partials/_modal_switch.html.twig" %}
                    </div>
                </div>
            </div>
        </main>
        {% include "_partials/_footer.html.twig" %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
{# <script type="text/javascript" src="{{ asset('build/app.js') }}"></script> #}

</body>

</html>