{% extends 'base.html.twig' %}

{% block body %}
<section>
    <h1>Page non trouvée</h1>

    <p>
        La page demandée est introuvable.

        {# Checkout for any URL
        misspelling or <a href="{{ path('app_home') }}">return to the homepage</a>. #}
    </p>
</section>
{% endblock %}