

<h1>Réinitialiser le mot de passe</h1>
<p>Bonjour {{ user.name }}</p>

<p>
    Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien ci -dessous : <br><br>
    <a href="{{ url|raw }}">{{ url|raw }}</a>.
</p>
<p>Merci.</p>
