<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialiser le mot de passe</title>
</head>

<body>


    <h1>Réinitialiser le mot de passe</h1>
    <p>Bonjour {{ user.name }}</p>

    <p>
        Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien ci -dessous : <br><br>
        <a href="{{ url|raw }}">{{ url|raw }}</a>.
    </p>

    <p>Sportivement,</p>
    <p>La Team Body &amp; Mind.</p>


</body>

</html>